.movieViewer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;

  &__background {
    background-color: rgba(22,35,51, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__box {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    width: 70vw;
    height: 80vh;
    z-index: 2;
    top: 50vh;
    left: 50vw;
    margin-top: -40vh;
    margin-left: -35vw;
  }

  &__title {
    font-size: 28px;
    background: rgba(0,0,0,.7);
    display: inline;
    position: absolute;
    top: 20px;
    left: 20;
    border-radius: 2px;
    color: white;
    padding: 5px 10px;
  }

  &__bigImage {
    width: 100%;
    height: 50%;
    overflow: hidden;
    background-size: cover;
  }

  &__description {
    padding: 20px;
  }
}