{
  "presets": [
    ["latest"],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "actions": "./actions",
        "components": "./components",
        "containers": "./containers",
        "reducers": "./reducers",
        "selectors": "./selectors"
      }
    }]
  ]
}